<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.QuotationPhenomenonPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.QuotationPhenomenonProperty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lock_serial_no" property="lockSerialNo" jdbcType="VARCHAR" />
    <result column="lock_demand_id" property="lockDemandId" jdbcType="INTEGER" />
    <result column="phenomenon_value_units" property="phenomenonValueUnits" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lock_serial_no, lock_demand_id, phenomenon_value_units, create_by, create_dt, 
    update_by, update_dt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quotation_phenomenon_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quotation_phenomenon_property
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.QuotationPhenomenonProperty" >
    insert into quotation_phenomenon_property (id, lock_serial_no, lock_demand_id, 
      phenomenon_value_units, create_by, create_dt, 
      update_by, update_dt)
    values (#{id,jdbcType=INTEGER}, #{lockSerialNo,jdbcType=VARCHAR}, #{lockDemandId,jdbcType=INTEGER}, 
      #{phenomenonValueUnits,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDt,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.QuotationPhenomenonProperty" >
    insert into quotation_phenomenon_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lockSerialNo != null" >
        lock_serial_no,
      </if>
      <if test="lockDemandId != null" >
        lock_demand_id,
      </if>
      <if test="phenomenonValueUnits != null" >
        phenomenon_value_units,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDt != null" >
        update_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lockSerialNo != null" >
        #{lockSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="lockDemandId != null" >
        #{lockDemandId,jdbcType=INTEGER},
      </if>
      <if test="phenomenonValueUnits != null" >
        #{phenomenonValueUnits,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.QuotationPhenomenonProperty" >
    update quotation_phenomenon_property
    <set >
      <if test="lockSerialNo != null" >
        lock_serial_no = #{lockSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="lockDemandId != null" >
        lock_demand_id = #{lockDemandId,jdbcType=INTEGER},
      </if>
      <if test="phenomenonValueUnits != null" >
        phenomenon_value_units = #{phenomenonValueUnits,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDt != null" >
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.QuotationPhenomenonProperty" >
    update quotation_phenomenon_property
    set lock_serial_no = #{lockSerialNo,jdbcType=VARCHAR},
      lock_demand_id = #{lockDemandId,jdbcType=INTEGER},
      phenomenon_value_units = #{phenomenonValueUnits,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_dt = #{updateDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>